<mat-toolbar color="black" class="top-toolbar">
    <button mat-button [routerLink]="['/home']" routerLinkActive="active">Startseite</button>
    <button mat-button [routerLink]="['/entries']" [queryParams]="{ type: 'bac' }" routerLinkActive="active">Bachelorarbeiten</button>
    <button mat-button [routerLink]="['/entries']" [queryParams]="{ type: 'mas' }" routerLinkActive="active">Masterarbeiten</button>
    <button mat-button [routerLink]="['/entries']" [queryParams]="{ type: 'dip' }" routerLinkActive="active">Diplomarbeiten</button>
    <button mat-button [routerLink]="['/entries']" [queryParams]="{ type: 'dis' }" routerLinkActive="active">Dissertationen</button>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/login']" routerLinkActive="active" *ngIf="!isAuthenticated">
    <span>Login</span>
    &nbsp;
    <mat-icon>login</mat-icon>
  </button>
    <button *ngIf="isAuthenticated && !isStudent" mat-button [routerLink]="['/portal']" routerLinkActive="active">
    <span>Menü</span>
    &nbsp;
    <mat-icon>cloud</mat-icon>
  </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logOut()">
    <span>Logout</span>
    &nbsp;
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="box" *ngIf="!feedbackSubmitted">
    <mat-card>
        <mat-card-title>Feedback</mat-card-title>
        <mat-card-content>
            <span>Bitte tragen Sie im nachfolgenden Feld Ihr Feedback zur aktuellen Seite ein. Die Daten werden anonym gesammelt.</span>

            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <textarea style="background-color: grey; padding: 10px;" matInput name="feedback" [(ngModel)]="message"></textarea>
                </mat-form-field>
            </form>
            <button mat-icon-button (click)="sendFeedback()">Feedback senden <mat-icon>email</mat-icon></button>
        </mat-card-content>
    </mat-card>
</div>

<div class="box" *ngIf="feedbackSubmitted">
    <mat-card style="text-align: center">
        <mat-card-title>
            Vielen Dank für Ihr Feedback!
        </mat-card-title>
    </mat-card>
</div>