.full-width-table {
    width: 100%;
}

.data-table {
    width: 95%;
    margin-top: 0%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.mat-table {
    border-radius: 4px;
    overflow: hidden!important;
}

h1 {
    margin-top: 2.5%;
    text-align: left;
    margin-left: 2.5%;
}

.btn:hover,
.btn:focus {
    color: white;
}

.btn-dark:hover,
.btn-dark:focus {
    color: white;
}

.btn {
    border-radius: 4px;
    margin-left: 1%;
}

.btn-right {
    border-radius: 4px;
}

.box {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 10px;
}

.mat-form-field {
    width: 10%;
    background-color: #1e1e1e;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 4px;
}

.matFormWithSpace {
    margin-left: 1%;
    background-color: #1e1e1e;
}

.mat-option-input {
    width: 100%;
    border-width: 0;
    background-color: rgb(51, 51, 51);
}

.reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

:host .mat-checkbox {
    color: white;
    font-size: normal;
    font-weight: lighter !important;
    padding-left: 10px;
}

 .mat-card {
    height: 100% !important;
    position: relative;
    overflow: hidden;
  } 
  
  .mat-card-content {
    max-height: 100% !important;
    position: absolute;
    overflow: auto;
  }

  .matFormCheckbox {
    margin-left: 1%;
    background-color: #1e1e1e;
    padding: 1%;
    border-radius: 4px;
  }
